<!DOCTYPE html>
<html lang="en" dir="ltr">
  <head>
    <meta charset="utf-8">
    <title>Needful Things</title>


    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css" integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous">
      <link href="styles.css" rel="stylesheet"/>
      <script src="https://unpkg.com/axios/dist/axios.min.js"></script>
  </head>
  <body>
    <div class = "head-bar"></div>
    <div id = "vue-app">
      <h1>Welcome to Task Manager</h1>

      <input v-model="message" placeholder="Add new task">
      <button v-on:click="enterTask" class="btn btn-primary"> Add </button></input>
      <p v-if="!tasks.length">There are no tasks yet.</p>
      <ul>
          <li v-for="(task, index) in tasks" :key="index">{{task}}
            <button v-on:click="deleteTask(index)" class= "btn btn-outline-primary btn-sm"> Complete </button>
        <button v-on:click="deleteTask(index)" class="btn btn-danger btn-sm"> Delete </button>
               <hr></li>
      </ul>
  </div>
<script src="https://cdn.jsdelivr.net/npm/vue"></script>

<script src="app.js"></script>
  </body>
</html>
